<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hyvaflow" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hyvä Flow</label>
            <tab>general</tab>
            <resource>SajidPatel_HyvaFlow::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="load_core" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load Core Bundle</label>
                    <comment>Controls whether the Hyvä Flow core bundle (hyvaflow-core.js) is injected globally. Disable only if you include it elsewhere.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="load_dom_helper" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load DOM Helper Bundle</label>
                    <comment>Toggle the optional Hyvä Flow DOM helper (hyvaflow-dom.js). Disable if you load a custom build or only need the core event bus.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
